/* Start Globale Rules */
* ,
*::before ,
*::after {
    --webkit-box-sizing : border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* End Globale Rules */
/* ============================================================ */
/* Start Media Query Responsive Design */
/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Media Query Responsive Design */
/* ============================================================ */
/* Start Components */
/* =================*/
/* 1st Component [ SECTION HEADING ]*/
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
    height: 61px;
    
}
.heading h1 {
    width: fit-content;
    padding: 10px 20px;
    margin: 0;
    border: 2px solid #000;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    z-index: 2;
}
.heading h1:hover {
    color: #fff;
    border-color: #fff;
    -webkit-transition-delay: 0.55s;
    -moz-transition-delay: 0.55s;
    -o-transition-delay: 0.55s;
    transition-delay: 0.55s;
}
.heading h1:hover:before {
    -webkit-animation: heading-animation-left 0.5s linear forwards;
    -moz-animation: heading-animation-left 0.5s linear forwards;
    -o-animation: heading-animation-left 0.5s linear forwards;
    animation: heading-animation-left 0.5s linear forwards;
}
.heading h1:hover:after {
    -webkit-animation: heading-animation-right 0.5s linear forwards;
    -moz-animation: heading-animation-right 0.5s linear forwards ;
    -o-animation: heading-animation-right 0.5s linear forwards ;
    animation: heading-animation-right 0.5s linear forwards;
}
.heading h1::before ,
.heading h1::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%) ;
    -o-transform: translateY(-50%) ;
    transform: translateY(-50%);
    z-index: -1;
}
.heading h1::before {
    left: -30px;
}
@keyframes heading-animation-left {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        height: 100%;
        width: 55%;
        border-radius: 0;        
    }
}
.heading h1::after {
    right: -30px;
}
@keyframes heading-animation-right {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        height: 100%;
        width: 55%;
        border-radius: 0;        
    }
}
/* --------------------------------------------------- */
/* 2nd component [SPIKES SPEARETOR]  */
.spikes {
    position: relative;
}
.spikes::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    height: 35px;
    width: 100%;
    background-size: 30px 100%;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
}
/* ----------------------------------------------- */
/* 3rd Component [ DOTTED BACKGROUND ] */
img.dots-top-right {
    position: absolute;
    top: 200px;
    right: 0;
    opacity: 0.3;
}
img.dots-bottom-left {
    position: absolute;
    bottom: 200px;
    left: 0;
    opacity: 0.3;
}
/* ------------------------------------------------- */
/* 4th component [SCROLL UP BUTTON ] */
a.scroll-up {
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
    background-image: linear-gradient(to right, var(--alt-color) 50%, var(--main-color) 50%);
    background-size: 200% 100%;
    background-position: top right;
}
a.scroll-up:hover {
    background-position: top left;
}
/* End Compounents */
/* ============================================================ */
/* Start Variables */
/* Do not Forget to Add the Fullback Value */
:root {
    --main-color: #2196f3;
    --alt-color: #1787e0;
    --body-color: #777;
    --main-bg-color: #ececec;
    --main-transition: 0.3s;
    --main-shadow: 0.5px 0.5px 5px #ccc;
    --section-padding: 100px;
}
/* End Variables */

/* =========================================================== */
/* ===========START STYLING OF THE TEMPLATE SECTIONS========== */
/* =========================================================== */

/* Start Header */
header {
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width: 767px) {
    header .container {
        flex-direction: column;
    }
}
header .container .logo h1 {
    font-size: 28px;
    color: var(--main-color);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
    cursor: pointer;
}
@media (max-width: 767px) {
    header .container .logo h1 {
        margin: 10px 0;
    }
} 
header .container .logo h1:hover {
    color: var(--alt-color);
}
header .container .nav ul {
    display: flex;
}

header .container .nav ul li:hover a.main-link {
    color: var(--main-color);
    background-color: #f5f5f5;
}
header .container .nav ul li a.main-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    padding: 0 30px;
    position: relative;
    color: #000;
    font-size: 18px;
    text-decoration: none;
}
@media (max-width: 767px) {
    header .container .nav ul li a.main-link {
        height: 45px;
        font-size: 14px;  
        padding: 0 10px;
    }
}   
header .container .nav ul li a.main-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: var(--main-color);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
} 
header .container .nav ul li a.main-link:hover::before {
    width: 100%;
}
/* ---------------------------------------------------------------- */
/* Start Styling of header Dropmenu */

/* hover on list-item other-links to show the .dropmenu  */
li.other-links:hover .dropmenu {
    display: flex;
} 
li.other-links .dropmenu {
    position: absolute;
    width: calc(100% - 30px);
    padding: 30px;
    top: 100%;
    right: 15px;
    display: none;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 4px solid var(--main-color);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
    gap: 40px;
}
@media (max-width: 767px){
    li.other-links .dropmenu {
        flex-direction: column;
        padding: 10px;
        gap: 0;
    }
}
li.other-links .dropmenu .image {
    width: fit-content;
    text-align: center;
}
@media (max-width: 991px) {
    li.other-links .dropmenu .image {
        display: none;
    }
}
@media (max-width: 1199px) {
    li.other-links .dropmenu .image img {
        width: 350px;
    }  
}
li.other-links .dropmenu .dropmenu-nav {
    flex: 1;
}
li.other-links .dropmenu .dropmenu-nav ul {
    display: block;
}
li.other-links .dropmenu .dropmenu-nav li {
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
li.other-links .dropmenu .dropmenu-nav li:last-child {
    border-bottom: none;
}
li.other-links .dropmenu .dropmenu-nav li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #f5f5f5;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
li.other-links .dropmenu .dropmenu-nav li:hover:before {
    width: 100%;
}
@media (max-width: 767px){
    li.other-links .dropmenu div.dropmenu-nav:nth-child(2) li:last-child {
        border-bottom: 1px solid #ddd;
    }
}
li.other-links .dropmenu .dropmenu-nav li i {
    color: var(--main-color);
    margin-right: 10px;
    font-size: 18px;
    width: 25px;
    text-align: center;
    position: relative;
}
li.other-links .dropmenu .dropmenu-nav li a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
    position: relative;
}
/* End Styling of header Dropmenu */

/* End Header */
/* =========================================================== */
/* Start Landing Section */
.landing {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing::before {
    content: "";
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(-5deg) translateY(-50px);
    -moz-transform: skewY(-5deg) translateY(-50px);
    -ms-transform: skewY(-5deg) translateY(-50px);
    -o-transform: skewY(-5deg) translateY(-50px);
    transform: skewY(-5deg) translateY(-50px);
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 991px) {
    .landing .container {
        justify-content: center;
    }
}
.landing .container > div {
    flex-basis: 45%;
    position: relative;
}
@media (max-width: 991px) {
    .landing .container .text {
        flex-basis: 70%;
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 38px;
    margin: 0;
    letter-spacing: -2px;
}
.landing .text p {
    font-size: 23px;
    line-height: 1.5;
    color: var(--body-color);
    margin-top: 10px;
}
@media (max-width: 767px){
    .landing .text h1 {
        font-size: 25px;
    }
    .landing .text p {
        font-size: 18px;
    }
}
.landing .container .image {
    -webkit-animation: move-up 4s ease-in-out alternate-reverse infinite;
    -moz-animation: move-up 4s ease-in-out alternate-reverse infinite;
    -o-animation: move-up 4s ease-in-out alternate-reverse infinite;
    animation: move-up 4s ease-in-out alternate-reverse infinite;
}
@keyframes move-up {
    to {
        -webkit-transform: translateY(-80px);
        -moz-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
        -o-transform: translateY(-80px);
        transform: translateY(-80px);
    }
}
@media (max-width: 991px) {
    .landing .container .image {
        display: none;
    }
}
.landing .container .image img {
    width: 600px;
}

.landing .scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    font-size: 15px;
    color: var(--main-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
    -webkit-animation: jump 1.5s linear infinite;
    -moz-animation: jump 1.5s linear infinite;
    -o-animation: jump 1.5s linear infinite;
    animation: jump 1.5s linear infinite;
}
@keyframes jump {
    20% {
        bottom: 30px;
    }
    30% {
        bottom: 50px;
    }
    40% , 100% {
        bottom: 30px;
    }
}
.landing .scroll-down:hover {
    color: var(--alt-color);
}
.landing .scroll-down i {
    font-weight: bolder;
    font-size: 28px;
}
/* End Landing Section */
/* =========================================================== */
/* Start Articale Section  */
.articale {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.articale .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 40px;
}
.articale .container .content .card {
    border-radius: 7px;
    overflow: hidden;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.articale .container .content .card:hover {
    box-shadow: 1px 1px 10px #ccc;
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    transform: translateY(-12px);
}
.articale .container .content .card:hover .readmore i {
    -webkit-animation: readmore-arrow 0.5s linear infinite;
    -moz-animation: readmore-arrow 0.5s linear infinite;
    -o-animation: readmore-arrow 0.5s linear infinite;
    animation: readmore-arrow 0.5s linear infinite;
}
@keyframes readmore-arrow {
    to {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }
}
.articale .container .content .card .image img {
    max-width: 100%;
}
.articale .container .content .card .text {
    padding: 25px 20px 0;
    border-bottom: 1px solid #e6e6e7;

}
.articale .container .content .card .text h4 {
    margin: 0;
    font-size: 18px;
}
.articale .container .content .card .text p {
    color: var(--body-color);
    line-height: 1.5;
}
.articale .container .content .card .readmore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: var(--main-color);
    font-weight: bold;
}
.articale .container .content .card .readmore a {
    color: var(--main-color);
    text-decoration: none;
}
/* End Articale Section  */
/* =========================================================== */
/* Start Gallery Section */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-bg-color);
}
.gallery .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px
}
.gallery .container .content > div {
    flex-basis: calc((100% - 80px)/3);
    border:15px solid #fff;
    background-color: #fff;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
    overflow: hidden;
    position: relative
}
@media (max-width: 1199px){
    .gallery .container .content > div {
        flex-basis: calc((100% - 40px)/2);
    }
}
@media (max-width: 699px){
    .gallery .container .content > div {
        flex-basis: 100%;   
    }
}
.gallery .container .content > div::before {
    content: "";
    position: absolute;
    background-color: rgb(255 255 255 / 20%);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    z-index: 2;
}
.gallery .container .content > div:hover::before {
    -webkit-animation: flash 0.7s;
    -moz-animation: flash 0.7s;
    -o-animation: flash 0.7s;
    animation: flash 0.7s;
}
@keyframes flash {
    0% , 
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 200%;
        width: 200%;
    }
}
.gallery .container .content > div:hover > img {
    -webkit-transform: scale(1.1) rotate(5deg);
    -moz-transform: scale(1.1) rotate(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
    -o-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotate(5deg);
}
.gallery .container .content > div > img {
    width: 100%;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
/* End Gallery Section  */
/* =========================================================== */
/* Start Features Section  */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .container .content .card {
    border: 1px solid #ccc;
    overflow: hidden;
}
.features .container .content .card .image {
    position: relative;
    overflow: hidden;
}
.features .container .content .card .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    opacity: 0.6;
}
.features .container .content .card.quality .image::before {
    background-color: #f44036;
}
.features .container .content .card.time .image::before {
    background-color: #009688;
}
.features .container .content .card.passion .image::before {
    background-color: #03a9f4;
}
.features .container .content .card .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110%;
    height: 60%;
    background-color: #fff;
    -webkit-transform: skewY(-20deg) translateY(125px);
    -moz-transform: skewY(-20deg) translateY(125px);
    -ms-transform: skewY(-20deg) translateY(125px);
    -o-transform: skewY(-20deg) translateY(125px);
    transform: skewY(-20deg) translateY(125px);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.features .container .content .card:hover .image::after {
    -webkit-transform: skewY(20deg) translateY(125px);
    -moz-transform: skewY(20deg) translateY(125px);
    -ms-transform: skewY(20deg) translateY(125px);
    -o-transform: skewY(20deg) translateY(125px);
    transform: skewY(20deg) translateY(125px);
}
.features .container .content .card .image img {
    max-width: 100%;
}
.features .container .content .card .text {
    text-align: center;
    padding: 0 20px;
}
.features .container .content .card .text h1 {
    width: fit-content;
    margin: 25px auto;
    font-size: 40px;
    position: relative;
}
.features .container .content .card .text h1::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70%;
    height: 4px;
}
.features .container .content .card.quality .text h1::after {
    background-color: #f44036;
}
.features .container .content .card.time .text h1::after {
    background-color: #009688;
}
.features .container .content .card.passion .text h1::after {
    background-color: #03a9f4;
}
.features .container .content .card .text p {
    color: var(--body-color);
    font-size: 20px;
    line-height: 2;
    margin: 50px 0;
}
.features .container .content .card a {
    display: block;
    width: fit-content;
    padding: 10px 25px;
    border: 3px solid;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto 25px;
    border-radius: 7px;
    position: relative;
}
.features .container .content .card.quality a {
    color: #f44036 ;
    border-color: #f44036;
}
.features .container .content .card.time a {
    color: #009688;
    border-color: #009688;
}
.features .container .content .card.passion a {
    color: #03a9f4;
    border-color: #03a9f4;
}
.features .container .content .card a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
    z-index: -1;
}
.features .container .content .card.quality a::before {
    background-color: #f44036;
}
.features .container .content .card.time a::before {
    background-color: #009688;
}
.features .container .content .card.passion a::before {
    background-color: #03a9f4;
}
.features .container .content .card:hover a::before {
    width: 100%;
}
.features .container .content .card:hover a {
    color: #fff;
}
/* End Features Section  */
/* =========================================================== */
/* Start Testimonials Section  */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-bg-color);
}
.testimonials .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.testimonials .container .content .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    position: relative;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
}
.testimonials .container .content .card img {
    position: absolute;
    top: 0;
    right: -10px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid var(--main-bg-color);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.testimonials .container .content .card h3 {
    margin: 0;
}
.testimonials .container .content .card .title {
    color: var(--body-color);
    display: block;
    margin: 10px 0;
}
.testimonials .container .content .card p {
    color: var(--body-color);
    line-height: 1.5;
    margin: 10px 0 0;
}
.testimonials .container .content .card i.active {
    color:#ffc107;
}
/* End Testimonials Section  */
/* =========================================================== */
/* Start Team Members Section */
.team-members {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.team-members .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    gap: 30px;
}
.team-members .container .content .card {
    padding-top: 60px;
    position: relative;
}
.team-members .container .content .card::before,
.team-members .container .content .card::after {
    content: "";
    height: 100%;
    width: 85%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f3f3f3;
    border-radius: 10px;
    z-index: -1;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.team-members .container .content .card::after {
    width: 0;
    background-color: #e4e4e4;
}
.team-members .container .content .card:hover::after {
    width: 85%;
}
.team-members .container .content .card:hover .head .image img {
    filter: grayscale(1);
}
.team-members .container .content .card:hover .text h3 {
    color: #777;
}
.team-members .container .content .card .head {
    display: flex;
    align-items: center;
}
.team-members .container .content .card .head .image {
    flex-basis: 85%;
    border-radius: 15px;
    overflow: hidden;
}
.team-members .container .content .card .head .image img {
    width: 100%;
    border-radius: inherit;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}

.team-members .container .content .card .head .icons {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-members .container .content .card .head .icons i {
    font-size: 16px;
    margin: 16px 0;
    color: #777;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.team-members .container .content .card .head .icons i:hover {
    color: var(--main-color)
}
.team-members .container .content .card .text {
    padding-left: 23%;
    padding-bottom: 20px;
}
.team-members .container .content .card .text h3 {
    font-size: 23px;
    margin-bottom: 10px;
    color: var(--main-color)
}
.team-members .container .content .card .text p {
    margin: 0;
}
/* End Team Members Section  */
/* =========================================================== */
/* Start Services Section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-bg-color);
}
.services .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.services .container .content > div {
    flex-basis: calc((100% - 80px)/3);
    -webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: count-cards;
    position: relative;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
@media (max-width: 1199px) {
    .services .container .content > div {
        flex-basis: calc((100% - 40px)/2);
    }
}
@media (max-width: 767px) {
    .services .container .content > div {
        flex-basis: 100%;
    }
}
.services .container .content > div::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    height: 3px;
    background-color: var(--main-color);
    width: 0;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.services .container .content > div:hover::before {
    left: 0;
    width: 100%;
}
.services .container .content > div:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.services .container .content .card .title {
    background-color: #fff;
    text-align: center;
    padding: 30px;
}
.services .container .content .card .title i {
    font-size: 65px;
    color: #d5d5d5;
}
.services .container .content .card .title h3 {
    font-size: 25px;
    color: var(--main-color);
    margin-bottom: 0;
}
.services .container .content .card .details {
    background-color: #f9f9f9;
    text-align: right;
    padding: 15px 20px;
    position: relative;
}
.services .container .content .card .details::after {
    content: "";
    position: absolute;
    top: 0;
    left: 85px;
    height: 101%;
    width: 50px;
    background-color: #d5d5d5;
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
}
.services .container .content .card .details::before {
    content: "0" counter(count-cards);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding-right: 30px;
}
.services .container .content .card .details a {
    text-decoration: none;
    color: var(--main-color)
}
/* End Services Section  */
/* =========================================================== */
/* Start Our Skills Section */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:991px) {
    .our-skills .container .content .image {
        display: none;
    }
}
.our-skills .container .content .skills {
    flex: 1;
}
.our-skills .container .content .skills .bar div {
    height: 30px;
    background-color: #eee;
    position: relative;
}
.our-skills .container .content .skills .bar div span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
}
.our-skills .container .content .skills .bar div::before {
    content: attr(dataprogress);
    position: absolute;
    top: -40px;
    right: 0;
    color: var(--main-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 12px;
    font-weight: bold;
}
/* End Our Skills Section  */
/* =========================================================== */
/* Start How It Works Section */
.how-it-work {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-bg-color);
}
.how-it-work .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 991px){
    .how-it-work .container .content {
        flex-direction: column;
    }
    .how-it-work .container .content .section-image {
        margin-bottom: 40px;
    }
}
.how-it-work .container .content .section-image img {
    max-width: 100%;
}
.how-it-work .container .content .box {
    flex-basis: 50%;
}
@media (max-width: 1199px) {
    .how-it-work .container .content .box {
        flex-basis: 40%;
    }
}
.how-it-work .container .content .box .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 7px;
    border: 2px solid #fff;
    position: relative;
}
@media (max-width: 767px) {
    .how-it-work .container .content .box .card {
        flex-direction: column;
    }
}
.how-it-work .container .content .box .card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    background-color: #ccc;
    opacity: 0.2;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.how-it-work .container .content .box .card:hover::before {
    width: 100%;
    height: 100%;
}
.how-it-work .container .content .box .card img {
    width: 70px;
    margin-right: 30px;
}
@media (max-width: 767px) {
    .how-it-work .container .content .box .card img {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .how-it-work .container .content .box .card .text {
        text-align: center;
    }
}
.how-it-work .container .content .box .card .text h4 {
    font-size: 22px;
    margin: 0;
}
.how-it-work .container .content .box .card .text p {
    margin: 10px 0 0;
    color: var(--body-color);
    line-height: 1.5;
    font-size: 18px;
}
/* End How It Works Section  */
/* =========================================================== */
/* Start Latest Events Section  */
.latest-events {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.latest-events .container {
    position: relative;
}
.latest-events .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.latest-events .container .content img {
    max-width: 450px;
}
@media (max-width: 991px) {
    .latest-events .container .content img {
        display: none;
    }
}
.latest-events .container .content .box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.latest-events .container .content .box .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.latest-events .container .content .box .time > div {
    border: 1px solid #ccc;
    border-radius: 7px;
    text-align: center;
    width: 75px;
    margin-bottom: 50px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.latest-events .container .content .box .time > div:hover {
    border-color: var(--main-color);
}
.latest-events .container .content .box .time > div span {
    display: block;
    padding: 10px;
}
.latest-events .container .content .box .time > div span.data {
    color: var(--main-color);
    font-size: 35px;
    font-weight: bold;
}
.latest-events .container .content .box .time > div span.unit {
    border-top: 1px solid #ccc;
    font-size: 14px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.latest-events .container .content .box .time > div:hover span.unit {
    border-color: var(--main-color);
}
.latest-events .container .content .box h3 {
    font-size: 30px;
    margin: 0;
}
.latest-events .container .content .box p {
    color: var(--body-color);
    font-size: 18px;
    line-height: 2;
}
.latest-events .container .subscribe {
    display: flex;
    justify-content: center;
}
.latest-events .container .subscribe form {
    width: 600px;
    padding: 30px 40px;
    border-radius: 50px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
@media (max-width: 767px) {
    .latest-events .container .subscribe form {
        flex-direction: column;
        border-radius: 0;
        padding: 20px;
    }
}
.latest-events .container form input[type="email"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex-basis: 75%;
    max-width: 100%;
    caret-color: var(--main-color);
}
.latest-events .container form input[type="email"]:focus {
    outline: none;
}
.latest-events .container form input[type="email"]::placeholder {
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.latest-events .container form input[type="email"]:focus::placeholder {
    color: transparent;
}
.latest-events .container form input[type="submit"] {
    flex: 1;
    padding: 20px;
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.latest-events .container form input[type="submit"]:hover {
    background-color: var(--alt-color);
}
@media (max-width: 767px) {
    .latest-events .container .subscribe form input {
        border-radius: 0;
    }
}
/* End Latest Events Section  */
/* =========================================================== */
/* Start Pricing Plan Section */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-bg-color);
    position: relative;
}
.pricing .container {
    position: relative;
}
.pricing .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .container .content .card {
    background-color: #fff;
    position: relative;   
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
}
.pricing .container .content .card::before ,
.pricing .container .content .card::after {
    content: "";
    position: absolute;
    height: 50%;
    width:0;
    background-color: #f5f5f5;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.pricing .container .content .card::before {
    top: 0;
    left: 0;
}
.pricing .container .content .card::after {
    bottom: 0;
    right: 0;
}
.pricing .container .content .card:hover::before,
.pricing .container .content .card:hover::after {
    width: 100%;
}
.pricing .container .content .card div {
    position: relative;
    z-index: 2;
}
.pricing .container .content .card .header {
    padding: 20px;
    text-align: center;
}
@media (min-width: 1200px) {
    .pricing .container .content .card.active {
        top: -20px;
    }
}
.pricing .container .content .card .header.active::before {
    content: "Most Popular";
    position: absolute;
    top: 0px;
    right: 25px;
    writing-mode: vertical-lr;
    padding: 10px 10px 0px;
    width: 40px;
    height: 120px;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
}
.pricing .container .content .card .header.active::after {
    content: "";
    position: absolute;
    top: 115px;
    right: 25px;
    border: 20px solid var(--main-color);
    border-bottom-color: transparent;
}
.pricing .container .content .card .header h3 {
    margin: 10px 0 30px;
    font-size: 25px;
    letter-spacing: -1px;
}
.pricing .container .content .card .header img {
    width: 80px;
}
.pricing .container .content .card .header h4 {
    font-size: 60px;
    margin: 25px 0 5px;
    color: var(--main-color);
}
.pricing .container .content .card .header span {
    font-size: 16px;
    color: var(--body-color);
}
.pricing .container .content .card ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .container .content .card ul li:before {
    font-family: "Font Awesome 5 free";
    content: "\f00c";
    color: var(--main-color);
    margin-right: 10px;
    font-weight: bold;
}
.pricing .container .content .card .choose {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.pricing .container .content .card .choose button {
    padding: 15px 20px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.pricing .container .content .card .choose button:hover {
    background-color: var(--alt-color);
    border-color: var(--alt-color);
    color: #fff;
}
/* End Pricing Plan Section */
/* =========================================================== */
/* Start Top Videos Section */
.videos {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.videos .container .content {
    display: flex;
    border: 1px solid #e2e2e2;
}
@media (max-width: 991px) {
    .videos .container .content {
    flex-direction: column;
}
}
.videos .container .content .playlist {
    flex-basis: 300px;   
}
.videos .container .content .playlist .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f4f4f4;
}
.videos .container .content .playlist ul li {
    padding: 20px;
    border-top: 1px solid #e2e2e2;
    cursor: pointer;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.videos .container .content .playlist ul li:hover {
    background-color: #fafafa;
}
.videos .container .content .playlist ul li:hover a {
    color: var(--main-color)
}
.videos .container .content .playlist ul li a {
    text-decoration: none;
    color: #000;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.videos .container .content .playlist ul li span {
    display: block;
    color: var(--body-color);
    margin-top: 10px;
}
.videos .container .content .screen {
    flex: 1;
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos .container .content .screen .image img {
    max-width: 100%;
}
.videos .container .content .screen .hosts {
    background-color: #fff;
    padding: 15px;
    margin-top: 10px;
}
/* End Top Videos Section */
/* =========================================================== */
/* Start Our Awesome Stats Section */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.jpg);
    background-size: cover;
    position: relative;
}
.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    opacity: 0.95;
}
.stats .topic {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.stats .topic h1 {
    font-size: 40px;
}
.stats .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .content .card {
    background-color: #fcfdfd;
    text-align: center;
    padding: 25px;
    position: relative;
    opacity: 0.8;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
} 
.stats .container .content .card:hover {
    opacity: 1;
}
.stats .container .content .card::before,
.stats .container .content .card::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.stats .container .content .card::before {
bottom: 0;
left: 0;
}
.stats .container .content .card::after {
    top: 0;
    right: 0;
}
.stats .container .content .card:hover::before,
.stats .container .content .card:hover::after {
    height: 100%;
}
.stats .container .content .card i {
    font-size: 35px;
}
.stats .container .content .card h3 {
    font-size: 50px;
    margin: 10px 0;
}
.stats .container .content .card p {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}
/* End Our Awesome Stats Section */
/* =========================================================== */
/* Start Discount Section */
.discount {
    display: flex;
}
@media (max-width: 991px) {
    .discount {
        flex-direction: column;
    }
}
.discount > div {
    flex-basis: 50%;
    padding: 50px 15px;
}
.discount .ads {
    background-image: url(../images/discount-background1.jpg) ;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-animation: change-background 10s linear infinite;
    -moz-animation: change-background 10s linear infinite;
    -o-animation: change-background 10s linear infinite;
    animation: change-background 10s linear infinite;
}
@keyframes change-background {
    0% , 100% {
        background-image: url("../images/discount-background1.jpg");
    }
    50% {
        background-image: url("../images/discount-background2.jpg")
    }
}
.discount .ads::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.952
}
.discount .ads .text {
    text-align: center;
    color: #fff;
    position: relative;
}
.discount h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .ads .text p {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.5;
}
.discount .ads .text img {
    width: 300px;
    max-width: 100%;
}
.discount .request {
    display: flex;
    justify-content: center;
    align-items: center;
}
.discount .request .req-dis {
    text-align: center;
}
.discount .request .req-dis form input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    padding: 15px;
    caret-color: var(--main-color);
    background-color: #f9f9f9;
}
.discount .request .req-dis form input:focus,
.discount .request .req-dis form textarea {
    outline: none;
}
.discount .request .req-dis form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    resize: none;
    caret-color: var(--main-color);
    background-color: #f9f9f9;
}
.discount .request .req-dis form input[type=submit] {
    padding: 15px;
    margin-top: 15px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.discount .request .req-dis form input[type=submit]:hover {
    background-color: var(--alt-color);
}
/* End Discount Section */
/* =========================================================== */
/* Start The footer */
footer {
    background-color: #191919;
    color: #b9b9b9;
}
@media (max-width: 767px) {
    footer {
        text-align: center;
    }
    }
footer .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 40px;
    padding: 60px 0;
}
footer .content .logo h2 {
    font-size: 40px;
    color: #fff;
    margin: 0 0 20px;
}
footer .content .logo .icons i {
    font-size: 40px;
    color: #b9b9b9;
    margin-right: 15px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
footer .content .logo .icons i.facebook:hover {
    color: #1877f2;
}
footer .content .logo .icons i.twitter:hover {
    color: #1da1f2;
}
footer .content .logo .icons i.youtube:hover {
    color: #ff0000;
}
footer .content .logo p {
    line-height: 2;
}
footer .content .links ul li {
    padding: 15px;
    padding-left: 0;
    border-bottom: 1px solid #444;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
footer .content .links ul li:last-child {
    border-bottom: none;
}
footer .content .links ul li:hover {
    padding-left: 15px;
}
footer .content .links ul li a {
    color: #b9b9b9;
    text-decoration: none;
}
footer .content .links ul li a::before {
    font-family: "Font Awesome 5 Free";
    content:"\f101";
    font-weight: bold;
    color: var(--main-color);
    margin-right: 10px;
}
footer .content .links ul li a:hover {
    color: #fff;
    
}
footer .content .address > div {
    display: flex;
    align-items: center;
}
footer .content .address > div i {
    color: var(--main-color);
    margin-right: 15px;
    font-size: 25px;
}
@media (max-width: 767px) {
    footer .content .address > div {
        flex-direction: column;
    }
    footer .content .address > div i {
        margin-right: 0;
        margin-bottom: 5px;
    }
}
footer .content .address > div p {
    line-height: 1.7;
    flex: 1;
}
footer .images img {
    width: 78px;
    border: 3px solid #fff;
    margin: 2px;
}
footer .copy-rights {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #444;
    color: #fff;
    font-weight: bold;
}
footer .copy-rights i {
    color: #ff3333;
}
/* End The footer */
/* ==================================================== */


